.book-container {
    display: flex;
    flex-direction: column;
    border: solid 1px green;
    margin:2% 7.5%;
    padding: 1rem 0;
    border-radius: 0.35rem;
    text-align: left;
    border-width: 0.2rem;
    border-color: #30C785;
    background-color: rgba(5, 29, 51, 1);
    opacity: 1;
    transition: 0.5s;
}

.book-container:hover {
    opacity: 0.9;
    transition: 0.5s;
}

.book-name {
    font-size: 2.5rem;
    color: rgba(14, 237, 140, 0.9);
    margin-left: 1%;
    font-weight: 500;
    transition: 0.25s;
    margin: 0 5%;
    margin-bottom: 5%;
    margin-top: 2.5%
}

.book-sub-title {
    font-size: 1.75rem;
    color: rgba(15, 165, 100, 0.7);
    margin-left: 1%;
    font-weight: 500;
    transition: 0.25s;
    margin: 0 5%;
    margin-bottom: 5%;
    margin-top: 2.5%
}


.book-name:hover {
    color: rgba(14, 237, 140, 0.7);
    transition: 0.25s;
}

.book-summary {
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
    margin: 5% 7.5%;
}

.book-summary-text {
    font-size: 1.75rem;
    color:#30C785;
    margin-top: 1.5%;
    margin-left: 3%;
    font-weight: 200;
    letter-spacing: 2px;
    margin-right: auto;
}

.book-subcontainer {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-img-wrapper {
    width: 50%;
    max-width: 500px;
    margin-right: auto;
    margin-left: 20%;
    border-radius: 0.2rem;
}

.book-img {
    width: 100%;
    border-radius: 0.2rem
}
